@charset "UTF-8";

body {
    background-image:url('pacote-d013/imagens/fundo-madeira.jpg'); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    position: relative;
}

.links {
    position: left center;
}

li {
    list-style-type: none;
}

img {
    width: 50px;
    border-radius: 50px;
    box-shadow: 1px 1px 1px black;
}

.celular {
    display: block;
    margin: auto;
    position: absolute;
    left: 50%;
    top: 50%;
}

iframe {
    height: 627px;
    width: 300px;
}